
/* Date Start: 1/15/25 */

/* tag shift reset */

body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* specific tag rules */

header {
	background-image:url('../images/titlebk2.png');
	background-repeat: repeat-x;
	background-size: auto 100%;
	background-position: center;
	text-align: center;
	font-family: "arial";
	font-size: 1em;
	width: -webkit-calc(100% - 6px);
	border: 3px solid transparent;
    border-image: linear-gradient(to top, #003300, #003300, rgba(0,0,0,0));
    border-image-slice: 1;
}

header > h1 {
	color: snow;
	text-shadow: 5px 5px 2px #002200;
}

main {
	padding-top: 0%;
	padding-left: 0%;
	padding-right: 0%;
	padding-bottom: 0%;
}

.hamburger_button {
	background-image: linear-gradient(limegreen, forestgreen);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
	border-left: 3px solid green;
	border-right: 3px solid green;
	border-top: 2px solid lightgreen;
	border-bottom: 2px solid green;
	width: 100%;
	font-family: "arial";
	color: snow;
	font-weight: bold;
	font-size: 1.05em;
}

.navbar {
	display: grid;
	background-image: linear-gradient(limegreen, forestgreen);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
	border-left: 3px solid green;
	border-right: 3px solid green;
	
	
	overflow: hidden;
}

.accordion {
	max-height: 0px;
	transition: max-height 0.4s ease-out;
}

.navbar > a {
	text-decoration: none;
}

.navbar > a > div {
	background-color: rgba(0, 0, 0, 0); 
	padding: 0.5em;
	text-align: center;
	border-top: 2px solid lightgreen;
	border-bottom: 2px solid green;
	font-family: "arial";
	color: snow;
	font-weight: bold;
	font-size: 1.05em;
}

.navbar > a > div:hover {
	background-image: linear-gradient(#186318, limegreen);
	text-decoration: underline;
}

.navbar > button {
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0); 
	padding: 0.5em;
	text-align: center;
	border-top: 2px solid lightgreen;
	border-bottom: 2px solid green;
	border-left: none;
	border-right: none;
	font-family: "arial";
	color: snow;
	font-weight: bold;
	font-size: 1.05em;
}

.navbar > button:hover {
	/* background-color: rgba(0, 0, 0, 0.25); */
	background-image: linear-gradient(#186318, limegreen);
	text-decoration: underline;
}


article {
	background-color: rgb(250, 250, 250);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

body {
	background-image:url('../images/background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
}

.main_inner {
	padding: 1%;
	border: 3px solid transparent;
    border-image: linear-gradient(to top, lightgray, lightgray, rgba(0,0,0,0.40));
	border-top: none; 
    border-image-slice: 1;
}

.div_container_outer {
	display: grid;
	gap: 2.5% 1%;
	margin-bottom: 10px;
}

.div_container {
	background-image: linear-gradient(#d0d0d0, #f9f9f9, #f9f9f9);
	text-indent: 10px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
	border-top: 1px solid #909090;
	border-radius: 0px 10px 0px 0px;
	color: snow;
	font-size: 25px;
	font-family: "arial";
	font-weight: bold;
}

.div_topbar {
	background-image: linear-gradient(gray, #202020);
	height: 30px;
	text-indent: 10px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
	border-top: 1px solid #909090;
	border-radius: 0px 10px 0px 0px;
	color: snow;
	//text-align: center;
	font-size: 25px;
	font-family: "arial";
	font-weight: bold;
}

.div_form {
	background-image: linear-gradient(snow, lightgray);
	border: 1px solid darkgray;
	margin: 10px;
}

/* control box size with margins (must be in pixels. OK.) */

form {
	text-indent: 0px;
	color: #202020;
	margin-left: 10px;
	margin-bottom: 10px;
}

form > label {
	font-size: 15px;
	font-weight: normal;
}

form > input {
	width: 95%;
}

form > input:placeholder-shown {
   font-style: italic;
}

textarea {
	width: 95%;
	margin-top: 10px; 
	font-family: "arial";
}

textarea:placeholder-shown {
   font-style: italic;
}

p {
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: "arial";
	color: #202020;
	font-size: 15px;
	font-weight: normal;
}

.translucent_span {
	opacity: 50%;
	text-indent: 0px;
}

ul {
	text-indent: 0px;
	margin-left: 25px;
	font-family: "arial";
	color: #202020;
	font-size: 15px;
	font-weight: normal;
}

span {
	text-indent: 0px;
}

marquee {
	animation-name: terrible_marquee_animation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes terrible_marquee_animation {
  0% {color: rgba(0, 0, 0, 0.5);}
  50% {color: rgba(0, 0, 0, 1);}
  100% {color: rgba(0, 0, 0, 0.5);}
}

footer {
	font-weight: bold;
	color: snow;
	font-size: 1.2em;
	font-family: "arial";
	position: fixed;
	bottom: 15px;
	left: 15px;
	z-index: -1; /* Don't let this draw on top of the webpage */
}

.test_image {
	float: right;
	border: 1px solid darkgray;
	background-image: linear-gradient(snow, lightgray);
	padding: 10px;
	margin: 10px;
	border-radius: 0px 0px 10px 0px;
}

.logo_image {
	float: right;
	margin-left: 10px;
}

.logo_image_float {
	float: right;
}

.div_spacer { /* put this in between each column so it will have a little breathing room */
	margin: 10px;
}

.icon_label_container {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "arial";
	color: #202020;
	font-size: 15px;
	font-weight: normal;
	position: relative;
	color: white;
}

.logo_image_float_left {
	float: left;
}

.icon_label_span {
	position: absolute;
	bottom: 7px;
	left: 27px;
	font-family: "arial";
	color: #202020;
	font-size: 15px;
	font-weight: normal;
}

.icon_label_container_text {
	display: inline-block;
	text-align: left;
}
	
	
	

/* mobile rules */
/* @media screen and (min-width: 600px), print { */
/* nav tag has a weird default property where it resets its size or display so this has to have a minimum width of zero */
@media screen and (min-width: 0px), print {
	
	main {
			padding-top: 0%;
			padding-left: 0%;
			padding-right: 0%;
			padding-bottom: 0%;
	}
	
	.navbar {
		grid-auto-flow: row;
	}
	
	.div_container_outer {
		grid-auto-flow: row;
		margin-bottom: 10px;
		gap: 2% 1%;
	}
	
	header {
		background-size: auto 101%;
		font-size: 1em;
	}
	
	.span_text_mobile_view {
		display: inline-block;
	}
	
	.span_text_desktop_view {
		display: none;
	}
	
	.div_spacer { /* put this in between each column so it will have a little breathing room */
		margin: 25px;
	}
	
	.hamburger_button {
		display: inline-block;
	}
	
	.accordion_desktop {
		display: none;
	}

	.accordion_mobile {
		display: block;
	}
}

/* desktop rules */
@media screen and (min-width: 900px), print {
	
	main {
			padding-top: 2%;
			padding-left: 10%;
			padding-right: 10%;
			padding-bottom: 0%;
	}
	
    .navbar {
		grid-auto-flow: column;
	}
	
	.div_container_outer {
		grid-auto-flow: column;
		margin-bottom: 0px;
		gap: 2.5% 1%;
	}
	
	header {
		background-size: auto 101%;
		font-size: 2em;
	}
	
	.span_text_mobile_view {
		display: none;
	}
	
	.span_text_desktop_view {
		display: inline-block;
	}
	
	.div_spacer { /* put this in between each column so it will have a little breathing room */
		margin: 10px;
	}
	
	.hamburger_button {
		display: none;
	}
	
	.accordion_desktop {
		display: block;
	}

	.accordion_mobile {
		display: none;
	}
}